<div style="position: fixed; height: 5rem; width: 100%; z-index: 997">
    <div class="layout-topbar">
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
        <a class="layout-topbar-logo" routerLink="">
            <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo' : 'logo_dark'}}.png" alt="logo">
            <!-- <img src="assets/layout/images/logo.png" alt="logo" /> -->
            <span>Happy World Trade</span>
        </a>

        <button
            #topbarmenubutton
            class="p-link layout-topbar-menu-button layout-topbar-button"
            (click)="layoutService.showProfileSidebar()"
        >
            <i class="pi pi-ellipsis-v"></i>
        </button>

        <div
            #topbarmenu
            class="layout-topbar-menu"
            (click)="logOut()"
            [ngClass]="{
                'layout-topbar-menu-mobile-active':
                    layoutService.state.profileSidebarVisible
            }"
        >
            <button class="p-link layout-topbar-button">
                <i class="pi pi-sign-out"></i>
                <span>Sign</span>
            </button>
        </div>
    </div>
    <app-loading-indeterminate></app-loading-indeterminate>
    <app-breadcrumb></app-breadcrumb>
</div>
