<div class="grid">
    <div class="col-12">
        <div class="stepsdemo-content">
            <p-card>
                <ng-template pTemplate="title">View / Update Profile</ng-template>
                <ng-template pTemplate="subtitle">
                    <!-- Enter Permisiion Name -->
                </ng-template>
                <ng-template pTemplate="content">
                    <!-- //FROME HERE -->
                    <form [formGroup]="profileUpdateForm">

                        <p-fieldset legend="Personal Details" [toggleable]="true" class="line-height-1 m-0">

                            <div class="p-fluid">
                                <div class="p-formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label htmlFor="name">Name</label>
                                        <input pInputText id="name" type="text" formControlName="name" readonly />
                                        <span class="block" style="color: red;">
                                            <custom-mat-error [control]="errorControl['name']"></custom-mat-error>
                                        </span>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label htmlFor="email">Email</label>
                                        <input pInputText id="email" type="email" formControlName="email" readonly />
                                        <span class="block" style="color: red;">
                                            <custom-mat-error [control]="errorControl['email']"></custom-mat-error>
                                        </span>
                                    </div>
                                </div>
                                <div class="p-formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label htmlFor="username">Username</label>
                                        <input pInputText id="username" type="text" formControlName="userName"
                                            (focusout)="checkUsernameAvailability($event)" readonly />
                                        <span class="block" style="color: red;">
                                            <custom-mat-error [control]="errorControl['userName']"></custom-mat-error>
                                        </span>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label htmlFor="mobile">Mobile</label>
                                        <input pInputText id="mobile" type="text" formControlName="mobileNo" readonly />
                                        <span class="block" style="color: red;">
                                            <custom-mat-error [control]="errorControl['mobileNo']"></custom-mat-error>
                                        </span>
                                    </div>
                                </div>
                                <div class="p-formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label for="password1">New Password</label>
                                        <p-password id="password1" formControlName="password"
                                            placeholder="Enter New Password" [toggleMask]="true"></p-password>
                                        <span class="block" style="color: red;">
                                            <custom-mat-error [control]="errorControl['password']"></custom-mat-error>
                                        </span>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="confirmpassword">Confirm
                                            Password</label>
                                        <p-password id="confirmpassword" formControlName="confirmPassword"
                                            placeholder="Enter Confirm Password" [toggleMask]="true"
                                            (focusout)="checkConfirPasswordMatchedOrNot($event)"></p-password>
                                        <span class="block" style="color: red;">
                                            <custom-mat-error
                                                [control]="errorControl['confirmPassword']"></custom-mat-error>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </p-fieldset>

                        <p-fieldset legend="Bank Details" [toggleable]="true" [collapsed]=true class="line-height-1 m-0"
                            *ngIf="userRole !== 'admin'">

                            <div class="p-fluid">
                                <div class="p-formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label htmlFor="bankname">Bank Name</label>
                                        <input pInputText id="bankname" type="text" formControlName="bankName"
                                            readonly />
                                        <span class="block" style="color: red;">
                                            <custom-mat-error [control]="errorControl['bankName']"></custom-mat-error>
                                        </span>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label htmlFor="ifsc">IFSC</label>
                                        <input pInputText id="ifsc" type="text" formControlName="ifsc" readonly />
                                        <span class="block" style="color: red;">
                                            <custom-mat-error [control]="errorControl['ifsc']"></custom-mat-error>
                                        </span>
                                    </div>
                                </div>
                                <div class="p-formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label htmlFor="branchname">Brach Name</label>
                                        <input pInputText id="branchname" type="text" formControlName="branchName"
                                            readonly />
                                        <span class="block" style="color: red;">
                                            <custom-mat-error [control]="errorControl['branchName']"></custom-mat-error>
                                        </span>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label htmlFor="acno">Account Number</label>
                                        <input pInputText id="acno" type="number" formControlName="acNumber" readonly />
                                        <span class="block" style="color: red;">
                                            <custom-mat-error [control]="errorControl['acNumber']"></custom-mat-error>
                                        </span>
                                    </div>
                                </div>
                                <div class="p-formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label htmlFor="acholdername">Account Holder Name</label>
                                        <input pInputText id="acholdername" type="text" formControlName="acHolderName"
                                            readonly />
                                        <span class="block" style="color: red;">
                                            <custom-mat-error
                                                [control]="errorControl['acHolderName']"></custom-mat-error>
                                        </span>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label htmlFor="actype">Account Type</label>
                                        <input pInputText id="actype" type="text" formControlName="acType" readonly />
                                        <span class="block" style="color: red;">
                                            <custom-mat-error [control]="errorControl['acType']">
                                            </custom-mat-error>
                                        </span>
                                    </div>
                                </div>
                                <div class="p-formgrid grid">

                                    <div class="field col-12 md:col-6">
                                        <label htmlFor="pan">PAN</label>
                                        <input pInputText id="pan" type="text" formControlName="pan" readonly />
                                        <span class="block" style="color: red;">
                                            <custom-mat-error [control]="errorControl['pan']"></custom-mat-error>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </p-fieldset>

                    </form>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="grid grid-nogutter justify-content-end">
                        <p-button label="Submit" icon="pi pi-save" styleClass="p-button-raised p-button-success"
                            (click)="updateProfile()"></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>