<div class="grid">
    <div class="col-12">
        <div class="stepsdemo-content">
            <p-card>
                <ng-template pTemplate="title">Update Profile</ng-template>
                <ng-template pTemplate="subtitle">
                    <!-- Enter Permisiion Name -->
                </ng-template>
                <ng-template pTemplate="content">
                    <!-- //FROME HERE -->
                    <form [formGroup]="profileUpdateForm">
                        <div class="p-fluid">
                            <div class="p-formgrid grid">
                                <div class="field col">
                                    <label htmlFor="password">Password</label>
                                    <input pInputText id="password" type="text" formControlName="password"
                                        placeholder="Enter new password" />
                                    <span class="block" style="color: red;">
                                        <custom-mat-error [control]="errorControl['password']"></custom-mat-error>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="grid grid-nogutter justify-content-end">
                        <p-button label="Submit" icon="pi pi-save" styleClass="p-button-raised p-button-success"
                            (click)="updateProfile()"></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>