<div class="grid fadein animation-duration-500">
    <div class="col-12">
        <div class="grid">
            <div class="col">
                <div class="text-900 font-bold text-3xl mb-1">
                    User Management
                </div>
                <div class="text-700 text-1xl line-height-3">Users list.</div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Total Users</span
                    >
                    <div class="text-900 font-medium text-xl">0</div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    style="width: 2.5rem; height: 2.5rem"
                >
                    <i class="pi pi-users text-blue-500 text-xl"></i>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">since last visit</span> -->
            <span class="text-green-500 font-medium">0 </span>
            <span class="text-500">newly registered</span>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Active Users</span
                    >
                    <div class="text-900 font-medium text-xl">0</div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    style="width: 2.5rem; height: 2.5rem"
                >
                    <i class="pi pi-check-circle text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">0 </span>
            <span class="text-500">Inactive Users</span>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Approver</span
                    >
                    <div class="text-900 font-medium text-xl">0</div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    style="width: 2.5rem; height: 2.5rem"
                >
                    <!-- <i class="pi pi-inbox text-cyan-500 text-xl"></i> -->
                    <span class="material-icons-outlined"> verified_user </span>
                </div>
            </div>
            <span class="text-green-500 font-medium">0 </span>
            <span class="text-500">newly registered</span>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="surface-card shadow-2 p-3 border-round">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Oparetor</span
                    >
                    <div class="text-900 font-medium text-xl">0</div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    style="width: 2.5rem; height: 2.5rem"
                >
                    <!-- <i class="pi pi-comment text-purple-500 text-xl"></i> -->
                    <span class="material-icons">arrow_drop_down</span>
                </div>
            </div>
            <span class="text-green-500 font-medium">0 </span>
            <span class="text-500">newly registered</span>
        </div>
    </div>
    <div class="col-12">
        <!-- <p-toolbar> Users List </p-toolbar> -->
    </div>
</div>
