<div class="grid">
    <div class="col-12">
        <div class="stepsdemo-content">
            <p-card>
                <ng-template pTemplate="title">Return payment Details </ng-template>
                <ng-template pTemplate="subtitle">
                    <!-- Enter Permisiion Name -->
                </ng-template>
                <ng-template pTemplate="content">
                    <!-- //FROME HERE -->
                    <form [formGroup]="returnPaymentForm">
                        <div class="p-fluid">

                            <div class="p-formgrid grid">
                                <div class="field col-12 md:col-6">
                                    <label for="paymethod">Payment Method</label>
                                    <p-dropdown [options]="paymentMethods" formControlName="paymentMethodId"
                                        optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                                        placeholder="Select a payment method" [showClear]="true"></p-dropdown>
                                    <span class="block" style="color: red;">
                                        <custom-mat-error
                                            [control]="errorControl['paymentMethodId']"></custom-mat-error>
                                    </span>
                                </div>

                                <div class="field col">
                                    <label htmlFor="docno">Document Number</label>
                                    <input pInputText id="docno" type="text" formControlName="documentNo"
                                        placeholder="Enter document no." />
                                    <span class="block" style="color: red;">
                                        <custom-mat-error [control]="errorControl['documentNo']"></custom-mat-error>
                                    </span>
                                </div>
                            </div>

                            <div class="p-formgrid grid">
                                <div class="field col">
                                    <label htmlFor="amount">Amount</label>
                                    <input pInputText id="amount" type="number" formControlName="amount"
                                        placeholder="Enter amount" />
                                    <span class="block" style="color: red;">
                                        <custom-mat-error [control]="errorControl['amount']"></custom-mat-error>
                                    </span>
                                </div>

                                <div class="field col">
                                    <label htmlFor="remarks">Remarks</label>
                                    <input pInputText id="remarks" type="text" formControlName="remarks"
                                        placeholder="Enter remarks" />
                                    <span class="block" style="color: red;">
                                        <custom-mat-error [control]="errorControl['remarks']"></custom-mat-error>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </form>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="grid grid-nogutter justify-content-end">
                        <p-button label="Submit" icon="pi pi-save" styleClass="p-button-raised p-button-success"
                            (click)="returnPayment()"></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>