.selected {
    border: 2px solid #007bff; 
    background-color: #e6f7ff !important ;
  }
.surface-card {
    transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
}
.cursor-pointer{
    cursor: pointer;
}