/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

/* Material Icons*/
// @import 'material-icons/iconfont/material-icons.css';

.layout-topbar-menu.layout-topbar-menu-mobile-active {
    z-index: 5 !important;
}

.min-w-screen {
    min-width: 98vw !important;
}

.p-fieldset {
    margin-bottom: 10px;
}

.surface-ground {
    margin-top: 20px;
}

.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #669f5f !important;
    color: #343a40;
    padding: 1.5rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.p-dialog .p-dialog-content {
    background-color: lightblue !important;
}