<div>
    <div *ngIf="dialogData.paymentMethodId == 1">
        <ul>
            <strong>
                <li>Name : {{dialogData.paymentDetails.name}}</li>
            </strong>
            <strong>
                <li>Transaction Id : {{dialogData.paymentDetails.transactionId}}</li>
            </strong>
            <strong>
                <li>Form Upi : {{dialogData.paymentDetails.fromUpi}}</li>
            </strong>
            <strong>
                <li>To Upi : {{dialogData.paymentDetails.toUpi}}</li>
            </strong>
            <strong>
                <li>Mobile : {{dialogData.paymentDetails.mobile}}</li>
            </strong>
        </ul>
    </div>
</div>

<div *ngIf="dialogData.file">
    <img [src]="dialogData.file | attachment">
</div>