<div *ngIf="dialogData.mode == 'Read Payment Details'">
    <div *ngIf="dialogData.paymentMethodId == 1">
        <ul>
            <strong>
                <li>Name : {{dialogData.paymentDetails.name}}</li>
            </strong>
            <strong>
                <li>Transaction Id : {{dialogData.paymentDetails.transactionId}}</li>
            </strong>
            <strong>
                <li>Form Upi : {{dialogData.paymentDetails.fromUpi}}</li>
            </strong>
            <strong>
                <li>To Upi : {{dialogData.paymentDetails.toUpi}}</li>
            </strong>
            <strong>
                <li>Mobile : {{dialogData.paymentDetails.mobile}}</li>
            </strong>
        </ul>
    </div>
    <div *ngIf="dialogData.paymentMethodId == 2">
        <ul>
            <strong>
                <li>Name : {{dialogData.paymentDetails}}</li>
            </strong>
            <strong>
                <li>Mobile : {{dialogData.paymentDetails}}</li>
            </strong>
            <strong>
                <li>From Bank : {{dialogData.paymentDetails}}</li>
            </strong>
            <strong>
                <li>To Bank : {{dialogData.paymentDetails}}</li>
            </strong>
            <strong>
                <li>NEFT Reference : {{dialogData.paymentDetails}}</li>
            </strong>

        </ul>
    </div>
    <div *ngIf="dialogData.paymentMethodId == 3">
        <ul>
            <strong>
                <li>Cheque Number : {{dialogData.paymentDetails}}</li>
            </strong>
            <strong>
                <li>Cheque From Bank : {{dialogData.paymentDetails}}</li>
            </strong>
            <strong>
                <li>To Whom : {{dialogData.paymentDetails}}</li>
            </strong>
            <strong>
                <li>Cheque Dated On : {{dialogData.paymentDetails}}</li>
            </strong>
        </ul>
    </div>
</div>

<div *ngIf="dialogData.mode == 'Read File'">
    <div *ngIf="dialogData.file">
        <img [src]="dialogData.file | attachment">
    </div>
</div>

<div *ngIf="dialogData.mode == 'Approve Investment'">
    <div class="col-12">
        <div class="stepsdemo-content">
            <p-card>
                <ng-template pTemplate="content">
                    <form [formGroup]="approveInvestmentForm" class="p-fluid p-formgrid grid">

                        <div class="field col-12">
                            <label htmlFor="perRate">Percenatge Rate</label>
                            <input pInputText id="perRate" type="number" formControlName="percentageRate"
                                placeholder="Enter percentage rate" />
                            <span class="block" style="color: red;">
                                <custom-mat-error
                                    [control]="approveInvestmentForm.controls.percentageRate"></custom-mat-error>
                            </span>
                        </div>

                    </form>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="grid grid-nogutter justify-content-end">
                        <p-button label="Submit" icon="pi pi-save" styleClass="p-button-raised p-button-success"
                            (click)="submit()"></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>